@model BookingHotel_090.Models.Transaksi

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Transaksi</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayName("Total Transaksi")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalTransaksi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayName("Id Customer")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCustomerNavigation.IdCustomer)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayName("Id Petugas")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdPetugasNavigation.IdPetugas)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayName("Id Room")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdRoomNavigation.IdRoom)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdTransaksi" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
