@model IEnumerable<BookingHotel_090.Models.Transaksi>

@{
    ViewData["Title"] = "Transaksi";
}

<h1>Transaksi</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Total Transaksi")
            </th>
            <th>
                @Html.DisplayName("Nama Customer")
            </th>
            <th>
                @Html.DisplayName("Nama Petugas")
            </th>
            <th>
                @Html.DisplayName("Nama Room")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TotalTransaksi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdCustomerNavigation.NamaCustomer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdPetugasNavigation.NamaPetugas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdRoomNavigation.NamaRoom)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdTransaksi"><i class="fa fa-marker fa-lg"></i></a> |
                <a asp-action="Details" asp-route-id="@item.IdTransaksi"><i class="fas fa-list"></i></a> |
                <a asp-action="Delete" asp-route-id="@item.IdTransaksi"><i class="fa fa-trash-alt fa-lg"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
